'context-menu':
  'atom-workspace': [
    {label: 'ERB Output Tag',  command: 'erb-helper:output'}
    {label: 'ERB Eval Tag',    command: 'erb-helper:eval' }
    {label: 'ERB Comment Tag', command: 'erb-helper:comment'}
  ]
